<footer id="footer-onepage" class="bg-color">
    <div class="footer-widget-area">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-info left">
              <%= day_name %>, <%= day %> <%= month %> <%= year %> <%= hour %><br>
              Hotel Santorini, Casa de Playa <br>Piedra Incada N° 3<br> 
              <%= invitation.location_2 %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="footer-logo">
              <%= bride %><br>
              <small>&</small><br>
              <%= groom %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="footer-info right">
              Tel.: +57 318 793 54 92 - +57 320 399 65 34<br>
              E-mail: an.qube12@gmail.com - ccsocha04@gmail.com
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>