<section id="hero" class="bg-slideshow section-divider-bottom-1">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <div class="hero-wrapper v-center">
            <!-- <h2 data-animation-direction="fade" data-animation-delay="600">¡Celebra con nosotros!</h2> -->

            <h1 class="hero-title light ">
              <span data-animation-direction="from-right" data-animation-delay="300"><%= bride %></span>
              <small data-animation-direction="from-top" data-animation-delay="300">&</small>
              <span data-animation-direction="from-left" data-animation-delay="300"><%= groom %></span>
            </h1>

            <div class="hero-subtitle light" data-animation-direction="fade" data-animation-delay="1000">
              <%= month %> <span><%= day %></span> <%= year %>
            </div>

            <div class="countdown" data-date="<%= data_date %>"></div>

          </div>

        </div>
      </div>
    </div>
  </section>