<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <!-- Page Title -->
  <title>
    <%= title %>
  </title>

  <meta name="keywords"
    content="one-page, single page, multi-page, wedding template, retina ready, responsive, modern html5 template, bootstrap, css3, wedding, venue">
  <meta name="description" content="Neela - Responsive One/Multi-Page Wedding HTML5 Template">
  <meta name="author" content="<%= title %>">

  <!-- Mobile Meta Tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Fav and touch icons -->
  <link rel="icon" href="images/fav_touch_icons/favicon.ico" sizes="any">
  <link rel="icon" href="images/fav_touch_icons/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="images/fav_touch_icons/apple-touch-icon-180x180.png">
  <link rel="manifest" href="images/fav_touch_icons/manifest.json">

  <!-- IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> 
	<![endif]-->

  <!-- Google Web Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet" />

  <!-- FontAwesome CSS -->
  <link href="css/fontawesome-all.min.css" rel="stylesheet" />

  <!-- Neela Icon Set CSS -->
  <link href="css/neela-icon-set.css" rel="stylesheet" />

  <!-- Owl Carousel CSS -->
  <link href="css/owl.carousel.min.css" rel="stylesheet" />

  <!-- Template CSS -->
  <link href="css/style.css" rel="stylesheet" />

  <!-- Modernizr JS -->
  <script src="js/modernizr-3.6.0.min.js"></script>

</head>

<body>

  <!-- Begin PreLoader -->
  <div id="preloader">
    <div class="loading-heart">
      <svg viewBox="0 0 512 512" width="100">
        <path
          d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z" />
      </svg>
      <div class="preloader-title">
        <%= bride %><br>
          <small>&</small><br>
          <%= groom %>
      </div>
    </div>
  </div>
  <!-- End PreLoader -->

  <!-- BEGIN WRAPPER -->
  <div id="wrapper">

    <audio autoplay loop>
      <source src="audio/Creo_en_ti-Reik.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>

    <!-- BEGIN HEADER -->
    <%- include('partials/header.ejs') %>
      <!-- END HEADER -->

    <!-- BEGIN HERO SECTION -->
    <%- include('partials/head.ejs') %>
    <!-- END HERO SECTION -->

    <!-- BEGIN ABOUT US SECTION -->
    <%- include('about.ejs') %>
    <!-- END ABOUT US SECTION -->

    <!-- BEGIN THE WEDDING SECTION -->
    <%- include('invitation.ejs') %>
    <!-- END THE WEDDING SECTION -->

    <!-- BEGIN OUR STORY TITLE SECTION -->
    <!-- BEGIN TIMELINE SECTION -->
    <%- include('our-story.ejs') %>
    <!-- END TIMELINE SECTION -->
    <!-- END OUR STORY TITLE SECTION -->    

    <!-- BEGIN GALLERY SECTION -->
    <%- include('gallery.ejs') %>
    <!-- END GALLERY SECTION -->

    <!-- BEGIN FOOTER -->
    <%- include('partials/footer.ejs') %>
    <!-- END FOOTER -->

  </div>
  <!-- END WRAPPER -->

  <!-- Google Maps API and Map Richmarker Library -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPhRXP2XxhSpy6nAhOsMtIgvRxANB_PzE"></script>
  <script src="js/richmarker.js"></script>

  <!-- Libs -->
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/jquery-migrate-3.3.2.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/jquery.placeholder.min.js"></script>
  <script src="js/ismobile.js"></script>
  <script src="js/retina.min.js"></script>
  <script src="js/waypoints.min.js"></script>
  <script src="js/waypoints-sticky.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/lightbox.min.js"></script>

  <!-- Nicescroll script to handle gallery section touch swipe -->
  <script src="js/jquery.nicescroll.js"></script>

  <!-- Hero Background Slideshow Script -->
  <script src="js/jquery.zoomslider.js"></script>

  <!-- Template Scripts -->
  <script src="js/variables.js"></script>
  <script src="js/scripts.js"></script>

  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg"></script> -->
  

</body>

</html>