<section id="testimonials" class="bg-color side-flowers-light">
    <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title light"><%= testimonials %></h2>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-xl-10 offset-xl-1">
          <div id="testimonials-slider" class="owl-carousel testimonials light" data-animation-direction="from-bottom">
            <div class="item">
              <p><%= outfit.outfit_p %></p>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h3 class="section-title light"><%= outfit.for_her %></h3>
        </div>
      </div>
        
      <div class="row center">  
        <div class="element bmaid-gmen col-sm-6 col-lg-4" data-animation-direction="from-top">
          <div class="image">
            <img src="<%= outfit.for_her_img1 %>" alt="" />
          </div>
        </div>
        <div class="element bmaid-gmen col-sm-6 col-lg-4" data-animation-direction="from-top">
          <div class="image">
            <img src="<%= outfit.for_her_img2 %>" alt="" />
          </div>
        </div>
        <div class="element bmaid-gmen col-sm-6 col-lg-4" data-animation-direction="from-top">
          <div class="image">
            <img src="<%= outfit.for_her_img3 %>" alt="" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h3 class="section-title light"><%= outfit.for_him %></h3>
        </div>
      </div>

      <div class="row center">  
        <div class="element bmaid-gmen col-sm-6 col-lg-4" data-animation-direction="from-top">
          <div class="image">
            <img src="<%= outfit.for_him_img1 %>" alt="" />
          </div>
        </div>
        <div class="element bmaid-gmen col-sm-6 col-lg-4" data-animation-direction="from-top">
          <div class="image">
            <img src="<%= outfit.for_him_img2 %>" alt="" />
          </div>
        </div>
        <div class="element bmaid-gmen col-sm-6 col-lg-4" data-animation-direction="from-top">
          <div class="image">
            <img src="<%= outfit.for_him_img3 %>" alt="" />
          </div>
        </div>
      </div>

      
    </div>
  </section>